In [1]:
import numpy as np
import pandas as pd

In [11]:
main_dt = pd.read_csv("data.csv").drop(columns="Unnamed: 0")

In [13]:
texts = main_dt.text
main_dt.shape

(267179, 8)

In [14]:
main_dt

,mini_place,date,marked,main_place,text,iscomment,is_dialog,id
0,Брейтово,03.02.2015,no,Рыбинское водохранилище.,"3 февраля вторник.утром с афоней разделились, ...",no,False,1
1,Брейтово,06.02.2015,no,Рыбинское водохранилище.,"6 февраля,пятница.подъем в 5 утра,выезд 6-30 ч...",no,False,2
2,Брейтово,07.02.2015,no,Рыбинское водохранилище.,"7 февраля,суббота.поехали тремя снежиками,афон...",no,False,3
3,Брейтово,08.02.2015,no,Рыбинское водохранилище.,"8 февраля,воскресенье.ловили опять на шексне,в...",no,False,4
4,Брейтово,09.02.2015,no,Рыбинское водохранилище.,"9 февраля,понедельник.самый результативный ден...",no,False,5
...,...,...,...,...,...,...,...,...
267174,Брейтово,03.03.2014,no,Рыбинское водохранилище.,3 по 6.03. ловили на жерлицы в районе впадения...,no,False,267169
267175,Брейтово,16.03.2014,no,Рыбинское водохранилище.,"воскресенье уже шипел во всю, на машине не вар...",no,False,267170
267176,Брейтово,15.03.2014,no,Рыбинское водохранилище.,"субботу более менее, в",no,False,267171
267177,Брейтово,16.03.2014,yes,Рыбинское водохранилище.,"воскресенье заезжали в медухово,хотели рыбы ку...",no,True,267172
267178,Брейтово,02.02.2015,no,Рыбинское водохранилище.,"2 февраля,понедельник.11-40 вечера,приехали в ...",no,False,267179

In [27]:
from pymystem3 import Mystem
from tqdm import tqdm_notebook
mystem = Mystem()

def lemmitize(text):
    try:
        return [text[0], " ".join(mystem.lemmatize(text[1]))[:-1]]
    except Exception as e:
        print(e)
        return [text[0], text[1]]

In [38]:
from joblib import Parallel, delayed
result = []

In [41]:
for part in range(26):
    result += Parallel(n_jobs=8)(delayed(lemmitize)(text) for text in tqdm_notebook([[index, texts[index]] for index in texts.index.to_list()[part*len(texts.index) // 26: min((part+1)*len(texts.index) // 26, len(texts.index))]]))

HBox(children=(IntProgress(value=0, max=10276), HTML(value='')))

HBox(children=(IntProgress(value=0, max=10276), HTML(value='')))

HBox(children=(IntProgress(value=0, max=10276), HTML(value='')))

HBox(children=(IntProgress(value=0, max=10276), HTML(value='')))

HBox(children=(IntProgress(value=0, max=10276), HTML(value='')))

HBox(children=(IntProgress(value=0, max=10276), HTML(value='')))

HBox(children=(IntProgress(value=0, max=10277), HTML(value='')))

In [65]:
len(result)

267179

In [66]:
new_texts = [' ' for i in range(len(texts))]
for result_value in result:
    new_texts[result_value[0]] = result_value[1]
print(len(new_texts), len(texts))

267179 267179

In [68]:
print(texts[-2:])
print(new_texts[-2:])

267177    воскресенье заезжали в медухово,хотели рыбы ку...
267178    2 февраля,понедельник.11-40 вечера,приехали в ...
Name: text, dtype: object
['воскресение   заезжать   в   медухов , хотеть   рыба   купить , только   мороженный   судак   плотва   нет . ребята   который   оставаться   в   борок , там   тоже   спрашивать   . тоже   нет   в   горелово . бабуля   у   который   останавливаться , кто   то   звонить . тоже   нифиг . говорить   это   из   за   тот   что   вода   не   сбрасывать   и   она   стоять . даже   не   знать   что   и   думать , мочь   морозец   и   последующий   оттепель   повлиять   на   ее   активность . ', '2   февраль , понедельник . 11 - 40   вечер , приезжать   в   черкасово . пока   приготавливать   и   заряжать   снегоход   спать   ложиться   в   3   час   ночь . подъем   5 - 30.18   км   на   старый   место ,  двухнедельный   давность .   шестой   просверливать   лунка   удар   окушок   гр . 300  : p    ну   думать   сейчас   попереть ,  но   все   кончаться ,  практически   не   начинаться . погода   отличный  - 4   гр . штиль , весь   день   светить   солнце   и   ничто . до   обед   поймать   еще   5   окушков . отъезжать   к   вечер   покачать   судачок   в   итог   один   невнятный   удар ,  без   повтор   и   посадить   аккумулятор   на   метабо   в   2   час   день . ваня   чеховский   звонить   день   на   52   км   поймать   34   окушка   к   вечер   все   быть   тихо   и   у   он   там   весь   день   быть   туман . афоня   в   этот   день   поймать   3   штука   и   щучка   в   лунка   отваливаться .  : neznayu : ']

In [69]:
main_dt['text'] = new_texts

In [70]:
main_dt

,mini_place,date,marked,main_place,text,iscomment,is_dialog,id
0,Брейтово,03.02.2015,no,Рыбинское водохранилище.,3 февраль вторник . утро с афоня раз...,no,False,1
1,Брейтово,06.02.2015,no,Рыбинское водохранилище.,"6 февраль , пятница . подъем в 5 утро ...",no,False,2
2,Брейтово,07.02.2015,no,Рыбинское водохранилище.,"7 февраль , суббота . поехать три снежик...",no,False,3
3,Брейтово,08.02.2015,no,Рыбинское водохранилище.,"8 февраль , воскресение . ловить опять н...",no,False,4
4,Брейтово,09.02.2015,no,Рыбинское водохранилище.,"9 февраль , понедельник . самый результати...",no,False,5
...,...,...,...,...,...,...,...,...
267174,Брейтово,03.03.2014,no,Рыбинское водохранилище.,3 по 6.03 . ловить на жерлица в ...,no,False,267169
267175,Брейтово,16.03.2014,no,Рыбинское водохранилище.,"воскресение уже шипеть во весь , на ...",no,False,267170
267176,Брейтово,15.03.2014,no,Рыбинское водохранилище.,"суббота много менее , в",no,False,267171
267177,Брейтово,16.03.2014,yes,Рыбинское водохранилище.,"воскресение заезжать в медухов , хотеть ...",no,True,267172
267178,Брейтово,02.02.2015,no,Рыбинское водохранилище.,"2 февраль , понедельник . 11 - 40 вечер , ...",no,False,267179

In [71]:
main_dt.to_csv('E:\\instagramTest\\lemmatize_dt.csv')