In [7]:
import os
import sys

import numpy as np
import pandas as pd

from tqdm import tqdm_notebook
a

In [9]:
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from utils.psql import Postresql

# Конфигурации

In [7]:
database = Postresql({
    'database': 'fishtexts',
    'user': 'postgres',
    'password': '081099',
    'host': 'localhost',
    'port': '5432'})

In [11]:
rows = database.select('lemmatize_texts')

In [12]:
main_dt = pd.DataFrame(rows, index=[row['id'] for row in rows])

In [13]:
main_dt

,mini_place,date,marked,main_place,iscomment,text,id
1,Брейтово,03.02.2015,no,Рыбинское водохранилище.,no,3 февраль вторник . утро с афоня раз...,1
2,Брейтово,06.02.2015,no,Рыбинское водохранилище.,no,"6 февраль , пятница . подъем в 5 утро ...",2
3,Брейтово,07.02.2015,no,Рыбинское водохранилище.,no,"7 февраль , суббота . поехать три снежик...",3
4,Брейтово,08.02.2015,no,Рыбинское водохранилище.,no,"8 февраль , воскресение . ловить опять н...",4
5,Брейтово,09.02.2015,no,Рыбинское водохранилище.,no,"9 февраль , понедельник . самый результати...",5
...,...,...,...,...,...,...,...
267175,Брейтово,03.03.2014,no,Рыбинское водохранилище.,no,3 по 6.03 . ловить на жерлица в ...,267175
267176,Брейтово,16.03.2014,no,Рыбинское водохранилище.,no,"воскресение уже шипеть во весь , на ...",267176
267177,Брейтово,15.03.2014,no,Рыбинское водохранилище.,no,"суббота много менее , в",267177
267178,Брейтово,16.03.2014,no,Рыбинское водохранилище.,no,"воскресение заезжать в медухов , хотеть ...",267178
267179,Брейтово,02.02.2015,no,Рыбинское водохранилище.,no,"2 февраль , понедельник . 11 - 40 вечер , ...",267179

# Чистка от html

In [14]:
for index in tqdm_notebook(main_dt.index):
    text = main_dt.loc[index, 'text']
    left_index = text.find('<')
    if left_index > -1:
        right_index = text.find('>')
        while right_index < len(text):
            new_right_index = text.find('>', right_index + 1)
            if new_right_index > -1:
                right_index = new_right_index
            else:
                break
        if right_index > -1:
            text = text[:left_index] + text[right_index + 1:]
    main_dt.loc[index, 'text'] = text

HBox(children=(IntProgress(value=0, max=267179), HTML(value='')))

In [17]:
main_dt.to_csv('clean_texts.csv')

In [63]:
main_dt = pd.read_csv('clean_texts.csv', index_col=0)

In [80]:
print("Число диалоговых сообщений: {}".format(main_dt[main_dt.is_dialog == True].shape[0]))
print("Число недиалоговых сообщений: {}".format(main_dt[main_dt.is_dialog == False].shape[0]))

Число диалоговых сообщений: 49218
Число не диалоговых сообщений: 217961

In [87]:
comment_map = {'время': ['сегодня', 'вчера', 'выходн'], 
             'рыбалка': ['поклевывать', 'половить', 'ловить', 'поймать', 'поклевка'], 
             'рыба': ['спиннинг', 'фидер', 'удочка', 'улов', 'удар', 'тычок', 'лунка', 'окун', 'щук', 'судак', 'лещ', 'плотв']}

def filter_comment(text):
    time_flag = False
    fishing_flag = False
    fish_flag = False
    for time in comment_map['время']:
        if text.find(time) > -1:
            time_flag = True
            break
    for fishing in comment_map['рыбалка']:
        if text.find(fishing) > -1:
            fishing_flag = True
            break
    for fish in comment_map['рыба']:
        if text.find(fish) > -1:
            fish_flag = True
            break
    if time_flag and fishing_flag and fish_flag:
        return True
    return False

In [97]:
is_comment_index = main_dt[main_dt.apply(lambda row: filter_comment(row['text']) and not row['is_dialog'], axis=1)].index.to_list()

In [98]:
is_not_comment_index = main_dt[main_dt.apply(lambda row: not filter_comment(row['text']) and row['is_dialog'], axis=1)].index.to_list()

In [101]:
print('Размеченных отчетов: {}'.format(len(is_comment_index)))
print('Размеченных не отчетов: {}'.format(len(is_not_comment_index)))

Размеченных отчетов: 52262
Размеченных не отчетов: 45520

In [293]:
not_comment = [x for x in not_comment if x not in is_comment]
len(not_comment)

5830

In [102]:
train_dt = main_dt.loc[is_comment_index + is_not_comment_index, ['text', 'iscomment']]
train_dt

                                                     text iscomment
3       8   февраль , воскресение . ловить   опять   н...        no
5       вчерашний   золотой   лунка   молчать , как   ...        no
13      9   марта   понедельник .   сегодня   судак   ...        no
39      30   там   же   4синца   и   14   кг   сорога ...        no
50      сегодня   погодка   хорошо ,  но   все   таки ...        no
...                                                   ...       ...
267158  сегодня   описывать   яма   на   дорога   бесп...        no
267163  среди   таковой   быть   и   тот ,  кто   рядо...        no
267167  сегодняшний   фото   из   борок . ( не   мой !...        no
267172  вчера ,  тем   мало   мы   она   поймать   зав...        no
267177  воскресение   заезжать   в   медухов , хотеть ...        no

[97782 rows x 2 columns]

In [103]:
train_dt.loc[is_not_comment_index , 'iscomment'] = 0
train_dt.loc[is_comment_index , 'iscomment'] = 1

In [106]:
train_dt

                                                     text iscomment
3       8   февраль , воскресение . ловить   опять   н...         1
5       вчерашний   золотой   лунка   молчать , как   ...         1
13      9   марта   понедельник .   сегодня   судак   ...         1
39      30   там   же   4синца   и   14   кг   сорога ...         1
50      сегодня   погодка   хорошо ,  но   все   таки ...         1
...                                                   ...       ...
267158  сегодня   описывать   яма   на   дорога   бесп...         0
267163  среди   таковой   быть   и   тот ,  кто   рядо...         0
267167  сегодняшний   фото   из   борок . ( не   мой !...         0
267172  вчера ,  тем   мало   мы   она   поймать   зав...         0
267177  воскресение   заезжать   в   медухов , хотеть ...         0

[97782 rows x 2 columns]

In [107]:
from nltk.stem.snowball import SnowballStemmer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer 
import re
import string

stop_words = set(stopwords.words('russian'))

def preprocessing(text):
    temp = text.lower()
    temp = re.sub(r'\d+', '', temp)
    temp = temp.translate(str.maketrans('','', string.punctuation)).strip()
    tokens = word_tokenize(temp)
    temp = [i for i in tokens if not i in stop_words]
    return ' '.join(temp)

In [108]:
%%time
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

vectorizer = TfidfVectorizer(preprocessor=preprocessing)
vectorizer.fit(train_dt.text)

Wall time: 1min 51s

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2',
                preprocessor=<function preprocessing at 0x000002104EDCD4C8>,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [109]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(train_dt, test_size = 0.2)

In [110]:
test

                                                     text iscomment
206886                                               7 .          0
45677   вчера ,  23   февраль   вновь   рыбачить    в ...         1
179629  суббота   ништяк   погодка   быть  ( ну   если...         0
247960  вчера   быть   в   михеево   раменский   район...         1
195107  сегодня   пофидерить   в   карманово   с   2 :...         1
...                                                   ...       ...
63950   11   не   успевать   подсекать   на   два   уд...         1
120038  1000   человек ))  итог :  сопа  -  7шт ,  кал...         0
266601  15   мина   уже   на   кукан  ( ! )  кверху   ...         0
63219                       суббота ) .   с   уважение .          0
93885   сегодня   сходить   на   живец   попробовать  ...         0

[19557 rows x 2 columns]

In [111]:
test.loc[93885].text

'сегодня   сходить   на   живец   попробовать   но   после   такой   сообщение  ( спасибо   бонд ! )  проводить   рыбалка   на   пруд   в   митино   и   рак   заодно   половить . '

In [112]:
train_vectors = vectorizer.transform(train.text)

In [113]:
test_vectors = vectorizer.transform(test.text)

In [138]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LogisticRegression, SGDClassifier
modelSelect = SelectFromModel(LogisticRegression(), max_features=7000)
y = train.iscomment.astype ('int')
selector = modelSelect.fit(X=train_vectors, y=y)

In [139]:
new_train_vectors = selector.transform(train_vectors)

In [140]:
new_test_vectors = selector.transform(test_vectors)

In [186]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
model.fit(X=new_train_vectors,y=y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='auto',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [187]:
preds = model.predict(new_test_vectors)

In [188]:
from sklearn.metrics import accuracy_score
print(accuracy_score(preds,  test.iscomment.astype ('int')))

0.9620084880094084

In [191]:
model = GradientBoostingClassifier()
model.fit(X=selector.transform(vectorizer.transform(train_dt.text)), y=train_dt.iscomment.astype ('int'))

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='auto',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [192]:
all_preds = model.predict(selector.transform(vectorizer.transform(main_dt.text)))

In [193]:
all_preds = ['yes' if pred == 1 else 'no' for pred in all_preds]

In [194]:
pred_main_dt = main_dt.copy()
pred_main_dt.iscomment = all_preds
pred_main_dt.loc[pred_main_dt.index, 'marked'] = 'yes'

In [195]:
pred_main_dt

,mini_place,date,marked,main_place,text,iscomment,is_dialog,id
0,Брейтово,03.02.2015,yes,Рыбинское водохранилище.,3 февраль вторник . утро с афоня раз...,yes,False,1
1,Брейтово,06.02.2015,yes,Рыбинское водохранилище.,"6 февраль , пятница . подъем в 5 утро ...",yes,False,2
2,Брейтово,07.02.2015,yes,Рыбинское водохранилище.,"7 февраль , суббота . поехать три снежик...",no,False,3
3,Брейтово,08.02.2015,yes,Рыбинское водохранилище.,"8 февраль , воскресение . ловить опять н...",no,False,4
4,Брейтово,09.02.2015,yes,Рыбинское водохранилище.,"9 февраль , понедельник . самый результати...",yes,False,5
...,...,...,...,...,...,...,...,...
267174,Брейтово,03.03.2014,yes,Рыбинское водохранилище.,3 по 6.03 . ловить на жерлица в ...,yes,False,267169
267175,Брейтово,16.03.2014,yes,Рыбинское водохранилище.,"воскресение уже шипеть во весь , на ...",no,False,267170
267176,Брейтово,15.03.2014,yes,Рыбинское водохранилище.,"суббота много менее , в",no,False,267171
267177,Брейтово,16.03.2014,yes,Рыбинское водохранилище.,"воскресение заезжать в медухов , хотеть ...",no,True,267172
267178,Брейтово,02.02.2015,yes,Рыбинское водохранилище.,"2 февраль , понедельник . 11 - 40 вечер , ...",yes,False,267179

In [196]:
pred_main_dt.to_csv('pred_data.csv')

In [197]:
main_dt = pd.read_csv("pred_data.csv").drop(columns='Unnamed: 0')

In [198]:
comment_dt = main_dt[main_dt.iscomment == 'yes']

In [199]:
comment_dt

,mini_place,date,marked,main_place,text,iscomment,is_dialog,id
0,Брейтово,03.02.2015,yes,Рыбинское водохранилище.,3 февраль вторник . утро с афоня раз...,yes,False,1
1,Брейтово,06.02.2015,yes,Рыбинское водохранилище.,"6 февраль , пятница . подъем в 5 утро ...",yes,False,2
4,Брейтово,09.02.2015,yes,Рыбинское водохранилище.,"9 февраль , понедельник . самый результати...",yes,False,5
5,Брейтово,11.02.2015,yes,Рыбинское водохранилище.,"вчерашний золотой лунка молчать , как ...",yes,False,6
9,Брейтово,03.03.2015,yes,Рыбинское водохранилище.,3 марта вторник . тот же район море ...,yes,False,8
...,...,...,...,...,...,...,...,...
267170,Брейтово,28.07.2016,yes,Рыбинское водохранилище.,четверг 3 час утро 28 число прини...,yes,False,267165
267172,Брейтово,24.02.2014,yes,Рыбинское водохранилище.,"вчера , тем мало мы она поймать зав...",yes,True,267167
267173,Брейтово,01.03.2014,yes,Рыбинское водохранилище.,сегодня половить рыбка . выезжать от ч...,yes,False,267168
267174,Брейтово,03.03.2014,yes,Рыбинское водохранилище.,3 по 6.03 . ловить на жерлица в ...,yes,False,267169
267178,Брейтово,02.02.2015,yes,Рыбинское водохранилище.,"2 февраль , понедельник . 11 - 40 вечер , ...",yes,False,267179

In [200]:
database.deleteTable('comments')
database.createTable('comments', {'mini_place': 'TEXT', 'main_place': 'TEXT', 'date': 'TEXT', 'marked': 'TEXT',
                                 'text': 'TEXT'})
data_dict = []
for index, row in tqdm_notebook(comment_dt.iterrows()):
    temp = dict(row)
    del temp['iscomment']
    del temp['id']
    del temp['is_dialog']
    data_dict.append(temp)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [201]:
database.insert('comments', insert_data=data_dict)

'Success'